@{
    ViewData["Title"] = "Recipes Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipes Website</h1>
    <a asp-controller="User" asp-action="Index">View Users</a><br /><br />
    <a asp-controller="User" asp-action="Login">Login</a>
</div>
